<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="registerForm" ng-submit="vm.register()" role="form">
        <div class="form-group" ng-class="{'has-error' : registerForm.username.$dirty && registerForm.username.$error.required}">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="vm.registerData.username" required>
            <span ng-show="registerForm.username.$dirty && registerForm.username.$error.required" class="help-block">Username is required!</span>

            <div class="form-group" ng-class="{'has-error' : (registerForm.password.$dirty && registerForm.password.$error.required) ||(!loginForm.password.$pristine && loginForm.password.$error.minlength)}">
                <label for="username">Password</label>
                <input type="password" name="password" id="password" class="form-control" ng-model="vm.registerData.password" required>
                <span ng-show="!registerForm.password.$pristine && registerForm.password.$error.required" class="help-block">Password is required!</span>
                <span ng-show="!loginForm.password.$pristine && loginForm.password.$error.minlength" class="help-block">Password must contain more then 6 characters!</span>
            </div>
            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Register</button>
                <a href="/" class="btn btn-link">Cancel</a>
            </div>
        </div>
    </form>
    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
</div>